@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%; /* Soft light grey */
    --accent-emerald: 161 72% 40%; /* #10b981 */
    --accent-emerald-subtle: 161 72% 95%; /* bg-emerald-50 */
  }
}

body {
  @apply antialiased text-slate-900 bg-white;
  /* Force the small text preference globally */
  font-size: 14px; 
}

/* Custom scrollbar for that information-dense "Terminal" feel */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}